/* common styles */

/* font-styles */

.noto-serif-fast {
    font-family: "Noto Serif", serif;

}

.noto-sans-second {
    font-family: "Noto Sans", sans-serif;
}

/* colors styles */
.reddish-orange {
    color: rgba(233, 90, 8, 1);
}

.opacity-color {
    color: rgba(0, 0, 0, 0.5);
}

/* body common styles */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

* {
    margin: 0px;
}

/* nav styles */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list ul {
    display: flex;
    gap: 48px;
}

.nav-list ul li {
    list-style: none;
}

.nav-list ul li a {
    text-decoration: none;
    color: #111111;

}

.nav-item {
    display: flex;
    gap: 48px;
}

.h {
    color: #111111;
}


/* banner styles */
.banner-section {
    display: flex;
    margin-top: 120px;
    align-items: last baseline;

}

.orange {
    color: rgba(233, 90, 8, 1);
}

.banner-tital h1 {
    font-size: 5em;
    font-weight: bold;

}

.banner-tital p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);


}

/* plants section */
.plants-section {
    text-align: center;
}

.card {
    border: 2px solid red;
    text-align: center;
}

.card p {
    font-size: 22px;
    font-weight: bold;

}

.card button {
    width: 270px;
    min-height: 50px;
    background-color: rgba(233, 90, 8, 1);
    color: #ffffff;

    border-style: none;
}

.flower-card {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 20px;
}

.Store {
    display: flex;
    margin-top: 120px;
    gap: 60px;
    align-items: center;
}

.Plants-Lover ul li {
    color: rgba(0, 0, 0, 0.5);
}

.Plants-Lover {
    width: 540px;
}

/* Deals section */
.Deals h1 {
    font-size: 3em;
    font-weight: bold;
}

.Deals p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    font-weight: 200px;
    text-align: center;
}

.Deals {
    text-align: center;
    margin-top: 130px;
}

/* offer section */
.offer-1 {
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    height: 200px;
    border: 1px solid red;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
    font-size: 22px;
}


.offer-2 {
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
    margin-top: 24px;
    font-size: 22px;
}

.offer-3 {
    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    height: 400px;
    border: 1px solid aqua;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    border-radius: 28px;
    font-size: 50px;
    font-weight: bold;

}


.offers {
    display: flex;
    gap: 28px;

}

/* contract section */
.contract {
    background-image: url(./assets/news-letter-bg.png);
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 115px;
    text-align: center;


}

.contract h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;

}

.contract input {
    width: 644px;
    height: 48px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    border-style: none;


}

.input-button- {
    display: flex;


}

.contract button {
    width: 180px;
    height: 50px;
    border-style: none;
    background-color: rgba(233, 90, 8, 1)
}

/* footer section */
.footer-item {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.footer-list li {
    list-style: none;
    margin-top: 32px;


}

.footer-list li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);


}

.feature p {
    margin-top: 32px;
    color: rgba(0, 0, 0, 0.5);
}

.social-media-logo ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

.social-media-logo ul li {
    list-style: none;
}

.footer-logo p {
    color: rgba(0, 0, 0, 0.5);

}




/* responsive for mobile */
@media (max-width:576px) {
    .container {
        max-width: 360px;
        margin: 0px 20px;

    }

    body {
        overflow: ;
    }

    .nav-list {
        display: none;
    }

    .banner-section {
        flex-direction: column-reverse;

    }

    .banner-section img {
        width: 100%;
    }

    .flowers-container {

        grid-template-columns: repeat(2, 0fr);
        gap: 20px;

    }

    .flower-price img p button {
        width: 100%;


    }

    .Store {
        flex-direction: column;

    }

    .bach img {
        width: 100%;

    }

    .offers {
        flex-direction: column;
    }

    .offer-1,
    .offer-2,
    .offer-3 {
        width: 361px;
        height: 184px;

    }

    .offer-3 {
        font-size: 22px;

    }

    .contract {
        background-image: url(./assets/news-letter-bg.png);
        height: 275px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 390px;


    }

    .contract input {
        width: 200px;
        height: 48px;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.5);
        display: block;
        border-style: none;
    }

    .contract button {
        width: 90px;
        height: 50px;
        border-style: none;
        background-color: rgba(233, 90, 8, 1)
    }

    .contract h1 {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;


    }

    .footer-item {
        flex-direction: column;
        gap: 10px;


    }

    .footer-contract {
        margin-left: 0px;
    }

    .flower-card {
        grid-template-columns: repeat(2, 0fr);
    }
}